@import "tailwindcss";

/* Theme/color pallete of my portolfio. This is built at build time */  
@theme  {
  --color-background: #3C1C3C;;
  --color-surface:    #ffffff;
  --color-foreground: #DAB1DA;
  --color-accent:     #B1DAB1;
  --color-muted:      #F4A127;
  --font-display: var(--font-chicle);   /* headings, groovy stuff */
  --font-body:    var(--font-roboto);   /* body text, readable */
}

/* If user chooses Dark Mode on OS, a run time instruction that is user based */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #3C1C3C;
    --color-foreground: #DAB1DA;
    --color-accent:     #B1DAB1;
    --color-muted:       #F4A127;
    --color-surface:    #4a2a4a;
  }
}

